.userList {
  margin-top: 90px;
  padding-bottom: 45px;
  height: calc(667 - 95) px;
  position: relative;
}
.userList .am-card-body {
  color: grey;
}
.userList .am-card-body .specialBtn,
.userList .am-card-body .am-button-inline {
  position: absolute;
  top: 55%;
  right: 4%;
}
.userList .distance {
  padding: 2px 2px 2px 0;
}
.userList .miaoshu {
  display: flex;
}
.userList .miaoshu textarea {
  outline: none;
  text-decoration: none;
  border: none;
  color: #808080;
}
.userList img {
  width: 55px;
  height: 55px;
  border: solid 1px skyblue;
  border-radius: 50% 10% 50% 10%;
}
.user-list-404 {
  height: 71vh;
  margin-top: 92px;
}
.user-list-404 marquee {
  background-color: #e3f1ee;
  padding: 10px;
  color: #108ee9;
  font-size: 22px;
}
.user-list-404 img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
