.userList{
  margin-top: 46px;
  padding-bottom: 45px;
  height: calc(667 - 95)px;
  .am-card-body{
    color: grey;
  }
  img{
    width: 55px;
    height: 55px;
    border: solid 1px skyblue;
    border-radius: 50% 10% 50% 10%;
  }
}