.ListItem {
  display: flex;
  justify-content: space-around;
}
.ListItem span {
  flex: 1;
}
.btn-login {
  background-color: #87ceeb;
  color: white;
}
.btn-toregister {
  margin-top: 6px;
  background-color: skyblue;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#zairu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1c1f2f;
}
.container {
  position: relative;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0001);
}
.container .loader {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid transparent;
  border-bottom: 20px solid #06c8f0;
  border-right: 20px solid #06c8f0;
  transform: rotate(45deg);
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.container .loader .ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: animateBall 4s ease-in-out infinite;
}
@keyframes animateBall {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.container .loader .ball::before {
  content: '';
  position: absolute;
  bottom: 50%;
  right: 15px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
}
.font {
  color: white;
  font-size: 45px;
  position: absolute;
  top: 22%;
}
.loading {
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 8%;
}
.circleProgress-wrapper {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 4%;
  right: 5%;
}
.wrapper {
  width: 50%;
  height: 48px;
  position: absolute;
  overflow: hidden;
}
.right {
  right: 0;
}
.left {
  left: 0;
}
.circle {
  width: 48px;
  height: 48px;
  border: 4px solid transparent;
  border-radius: 50%;
}
.circle-right {
  border-top-color: #f90;
  border-right-color: #f90;
  position: absolute;
  right: 0;
  transform: rotate(-135deg);
  animation: play1 2s linear forwards;
}
.circle-left {
  border-bottom-color: #f90;
  border-left-color: #f90;
  position: absolute;
  left: 0;
  transform: rotate(225deg);
  animation: play2 2s ease-out 2s forwards;
}
.text-area {
  color: wheat;
  font-size: 16px;
  position: absolute;
  top: 28%;
  right: 17%;
}
@keyframes play1 {
  0% {
    transform: rotate(-135deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes play2 {
  0% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
